.widget-fact {
  white-space: nowrap;
}
.widget-fact-right {
  text-align: right;
}
  .widget-fact-right .widget-fact-number {
    transform: translateX(85%);
  }
.widget-fact-left {
  text-align: left;
}
  .widget-fact-left .widget-fact-title {
    transform-origin: left top;
    transform: rotate(-90deg) translate3d(-2.625em, 0, 0);
  }
.widget-fact-number {
  font-size: 10em;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  letter-spacing: 0.1em;
}
.widget-fact-title {
  font-size: 2.125em;
  font-weight: bold;
  line-height: 1.5;
  display: inline-block;
  text-align: left;

  white-space: normal;

  width: 5em;
  transform-origin: left bottom;
  transform: rotate(-90deg) translate3d(0.25em, 5.25em, 0);
}
.widget-fact-description {
  white-space: normal;
  margin: 0;
  font-size: 1em;
  line-height: 2;
}
