.list-controls-container {
  position: absolute;
  width: 1.875em;
  height: 100%;
  top: 0;
  right: 23.75%;
}
.control-arrow {
  position: absolute;
  width: 1.875em;
  cursor: pointer;
}
.control-arrow-next {
  bottom: 5.625em;
}
.control-arrow-prev {
  top: 5.625em;
}
  .svg-arrow {
    fill: #cecece;
  }
