/* #pagelistcontrols */
.page-controller .list-controls-container {
  width: 2em;
  right: 50%;
}
.page-container .control-arrow {
  width: 2em;
}
/* #projectlistcontrols */
.list-controls-container {
  position: absolute;
  width: 1.875em;
  height: 100%;
  top: 0;
  right: 23.75%;
  z-index: 199;
}
.control-arrow {
  position: absolute;
  width: 1.875em;
  cursor: pointer;
}
.control-arrow-inactive {
  cursor: default;
  opacity: 0.5;
}
.control-arrow-next {
  bottom: 5.625em;
}
.control-arrow-prev {
  top: 5.625em;
}
  .svg-arrow {
    fill: #cecece;
  }
