.menu {
  width: 100vh;
  height: 5.3125em;
  position: fixed;
  background: transparent;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);

  font-size: 0.856875em;

  z-index: 999;
}
  .menu-list {
    padding: 0;
    margin: 0;
  }
  .menu-list-item {
    list-style-type: none;
    display: inline-block;
    height: 100%;
    line-height: 5.3125em;
    width: 33vh;
    text-align: center;
  }
    .menu-group {
      width: 33vh;
      color: #b0adad;
    }
      .menu-group-header-container {
        display: inline-block;
        width: 33vh;
      }
      .menu-group-list {
        display: inline-block;
        width: 66vh;
      }
    .menu-group-active {
      width: 100vh;
    }
      .menu-group-active .menu-group-header {
        font-weight: bold;
        letter-spacing: 0.5em;
      }
    .menu-link {
      text-decoration: none;
      color: #b0adad;
    }

    .menu-group-close {
      border: none;
      background-color: transparent;
      font-size: 1.167em;
      width: 1.167em;
      margin-right: 2em;
    }
  .menu-item:before {
    content: ' ';
    width: 2em;
    height: 2px;
    background-color: #cecece;
    position: absolute;
    top: 1.5em;
    display: block;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    opacity: 0;
  }
  .menu-item-active:before {
    opacity: 1;
    transition: opacity 0.5s linear;
  }

  .menu-underlay {
    position: fixed;
    bottom: 0;
    height: 0%;
    width: 5.3125em;
    background: #818181;
    opacity: 0;
    z-index: 900;
    transition: opacity 0.5s linear;
  }
  .project-list-container-even .menu-underlay {
    opacity: 0.8;
  }

.logo-svg-container {
  position: absolute;
  top: 4.5em;
  right: 1em;
  transform-origin: center center;
  transform: rotate(90deg) translateX(-100%);
}
  .logo-svg {
    fill: #c4bcb4;
  }
