.project-list-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;

  opacity: 0;
  z-index: 1;
}
.project-list-description-panel {
  width: 46.67%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.project-list-container-even .project-list-description-panel {
  right: 0;
  left: auto;
}
.project-list-container-even .project-list-cover-container {
  left: 0;
  right: auto;
}
.project-list-container-even .project-list-cover-image {
  left: -100px;
  right: auto;
}
