.project-list-description-panel {
  width: 46.67%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
  .project-list-description-panel-paragraph {
    width: 54%;
    margin-left: 25.6%;
    line-height: 2em;

    /* center vertically */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
