.project-list-description-panel {
  width: 46.67%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
  .project-list-description {
    width: 54%;
    margin-left: 25.6%;
    line-height: 2em;

    /* center vertically */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .project-list-title {
    font-size: 6.375em;
    line-height: 0.7353em;
    color: #cecece;

    width: 40%;
    margin: 0 0 0 38%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
  }
  .project-list-image-container {
    width: 53.33%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
  }

  .control-container {
    position: absolute;
    right: 24.167%;
    width: 1.875em;
  }
    .control-container-next {
      bottom: 11.688%;
    }
    .svg-arrow {
      fill: #cecece;
    }
